body {
  font-family: 'Inter', sans-serif !important;
  color: #000 !important;
}

html {
  font-size: 1rem;
}

.nav-pills .nav-link {
  color: #000000;
  height: 24px;
  line-height: 20px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 0.95rem;
  text-align: center;
  display: flex;
  align-items: center;
}

.nav-pills .nav-link.active {
  background-color: #000000 !important;
  color: #fff !important;
  border-radius: 30px;
}

.nav-pills .nav-link:hover:not(.active) {
  background-color: #e0e0e0;
  color: #000000;
  border-radius: 30px;
}

.header-container {
  background-color: #E4EDF6;
}

footer {
  background-color: #ffffff;
  padding: 30px 0;
  text-align: center;
}

h1 {
  padding-bottom: 10px;
  font-size: 36px !important;
  font-weight: 600 !important;
}

h2 {
  padding-bottom: 5px !important;
  font-size: 24px !important;
  font-weight: 600 !important;
}

p {
  margin-bottom: 0px !important;
}

.btn {
  background-color: #F8F176 !important;
  color: #000000 !important;
  border-radius: 30px !important;
  border: none !important;
  padding: 0.9rem 1rem !important;
  margin-top: 30px !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
}

.portrait-img {
  /* width: 100%; */
  height: auto;
  max-width: 340px;
  border-radius: 200px;
}

.secondary-container {
  background-color: #FAFAFA;
}

/* section {
  padding: 0px !important;
} */

.skill-container {
  background-color: #000000;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  padding: 14px;
  margin-bottom: 20px;
}

.skill {
  justify-content: center;
  align-items: center;
}

.project1-img{
   /* width: 100%; */
  height: auto;
  max-width: 500px;
  border-radius: 14px;
}

.project2-img{
   /* width: 100%; */
  height: auto;
  max-width: 300px;
  border-radius: 12px;
}


@media only screen and (max-width: 374px) {
  .portrait-img {
    width: 100%;
    max-width: 100%;
  }
}



@media only screen and (max-width: 600px) {
  .contents {
    margin: 0px 10px !important;
    padding: 30px 0px;
  }

  .nav-pills .nav-link {
    padding: 0.25rem 0.4rem;
  }
}

@media only screen and (min-width: 600px) {
  .contents {
    margin: 0px 20px !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }

  h1 {
    padding-bottom: 20px;
  }
}


@media only screen and (min-width: 768px) {
  .contents {
    margin: 0px 50px !important;
    padding: 30px 0px;
  }
}


@media only screen and (min-width: 992px) {
  .contents {
    margin: 0px 100px !important;
    padding: 70px 0px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 991px) {}


@media only screen and (min-width: 1200px) {
  .contents {
    margin: 0px 150px !important;
    padding: 70px 0px;
  }
}

@media only screen and (min-width: 1400px) {
  .contents {
    margin: 0px 230px !important;
    padding: 70px 0px;
  }
}